/* https://meyerweb.com/eric/tools/color-blend */
.todo-item {
  flex: 1;
  background: #FFFFFF;
}

.todo-item[data-days-to-due-date='7'] {
  background: #FFFBDF;
}

.todo-item[data-days-to-due-date='6'] {
  background: #FFF6BF;
}

.todo-item[data-days-to-due-date='5'] {
  background: #FFF29F;
}

.todo-item[data-days-to-due-date='4'] {
  background: #FFEE80;
}

.todo-item[data-days-to-due-date='3'] {
  background: #FFE960;
}

.todo-item[data-days-to-due-date='2'] {
  background: #FFE540;
}

.todo-item[data-days-to-due-date='1'] {
  background: #FFE020;
}

.todo-item[data-days-to-due-date='0'] {
  background: #FFDC00;
}

.todo-item[data-days-to-due-date='-1'] {
  background: #FFC907;
}

.todo-item[data-days-to-due-date='-2'] {
  background: #FFB50E;
}

.todo-item[data-days-to-due-date='-3'] {
  background: #FFA214;
}

.todo-item[data-days-to-due-date='-4'] {
  background: #FF8F1B;
}

.todo-item[data-days-to-due-date='-5'] {
  background: #FF7B22;
}

.todo-item[data-days-to-due-date='-6'] {
  background: #FF6829;
}

.todo-item[data-days-to-due-date='-7'] {
  background: #FF542F;
}

.todo-item--expired {
  background: #FF4136;
}

.todo-item > div {
  flex: 1;
  display: flex;
  padding: 16px;
  align-items: center;
}

.todo-item__completion {
  margin: 0;
}

.todo-item__text {
  margin: 0 8px;
  flex: 1;
}

.todo-item__text--is-completed {
  text-decoration: line-through;
}

.todo-item__input {
  padding: 0px;
  margin-left: 20px;
  width: 100%;
  font-size: 1em;
  border: none;
  outline: 0;
  font-family: sans-serif;
}

.todo-item__due-date {
  border: 1px solid black;
  padding: 8px;
  border-radius: 8px;
  outline: 0;
}

.todo-item__due-date:hover {
  background-color: #EEE;
}

.todo-item__priority {
  font-size: .8em;
  margin-left: 8px;
}
