.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #FFFFFF;
}

.todo-list__item {
  position: relative;
  font-size: 2em;
  border-bottom: 1px solid #EDEDED;
  padding: 16px;
  background: #FFFFFF;
}
