.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #FFFFFF;
}

.todo-list__item {
  position: relative;
  font-size: 2em;
  border-bottom: 1px solid #EDEDED;
  padding: 16px;
  display: flex;
  background: #FFFFFF;
}

.todo-list__item-completion {
  align-self: center;
  margin: 0;
}

.todo-list__item-text {
  margin: 0 8px;
  flex: 1;
}

.todo-list__item-button {
  width: 36px;
  height: 36px;
  box-sizing: border-box;
}

.todo-list__input {
  padding: 8px;
  width: 100%;
  font-size: 1em;
  outline: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
