.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #FFFFFF;
  max-height: 320px;
  overflow-y: scroll;
  border: 1px solid #EDEDED;
}

.todo-list__item {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 2em;
  margin-top: -1px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
}
