.app {
  display: flex;
  justify-content: center;
}

.app__title {
  font-size:  5em;
  font-variant: all-small-caps;
  margin: 24px;
}

.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__inputs {
  display: flex;
  background: #FFFFFF;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  padding: 16px;
}

.app__toogle-all {
  align-self: center;
  margin: 0;
}

.app__new-todo {
  flex: 1;
  border: none;
  margin: 0 8px 0 0;
  width: 100%;
  font-size: 2em;
  outline: none;
  box-sizing: border-box;
}
